{% extends 'loginAndRegister/loginAndRegister.html' %}
{% load static %}
{% block title %}Đăng ký{% endblock title %}
{% block content %}
{% csrf_token %}
<form method ='POST' action ="">

    <input class="form-control" type="text" name="username" placeholder="Tài khoản" required>
    <input class="form-control" type="email" name="email" placeholder="E-mail" required>
    <input class="form-control" type="password" name="password" placeholder="Mật khẩu" required>
    {% comment %} <input class="form-control" type="text" name="phone" placeholder="Số điện thoại" required>
    <input class="form-control" type="text" name="address" placeholder="Địa chỉ" required> {% endcomment %}
    <input class="form-control" type="text" name="firstName" placeholder="Họ" required>
    <input class="form-control" type="text" name="lastName" placeholder="Tên" required> 
    <div class="form-button">
        <button class="ibtn">Đăng ký</button>
    </div>
</form>
{% endblock content %}